

body {
    align-items: center;
    background-color: black;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    
}

.parent-div {
    width: 600px;
    height: 800px;
    align-items: center;
    background-color: white;
    margin: auto;
}

.post-header {
    display:flex;
    /*border:5px solid green;*/
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.left-group {
    display: flex;
    align-items: center;

}
.left-up-loner {
    /*border:5px solid black;*/
    font-size: 30px;
    margin-right: 5px;
}
.left-up-two {
    /*border: 5px solid grey;*/
    display: flex;
    flex-direction: column;
    margin: 0;
}
.text-html {
    margin: 0px 0px 0px 0px;
    font-size: 20px;
}
.letra-rigoberto {
    margin: 0px 0px 5px 0px;
    font-size: 20px;
}
.right-up {
    /*border: 5px solid pink;*/
    font-size: 30px;
}
.post-image img {
    /*max-width: 100%;*/
    width: 600px;
}

.post-body {
    
    /*border: 5px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.three-icons {
    display: flex;
    gap: 5px;
    /*border:5px solid blue;*/
    font-size: 30px;
}
.body-bookmark {
    /*border: 5px solid orange;*/
    font-size: 30px;
}

.post-text p {
    font-size: 20px;
}
