

body {
    align-items: center;
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    
}

.parent-div {
    width: 600px;
    height: 800px;
    align-items: center;
    background-color: white;
    margin: auto;
}

.post-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.left-group {
    display: flex;
    align-items: center;

}
.html-five-icon {
    font-size: 30px;
    margin-right: 5px;
}
.html-text-and-rigoberto-text {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.text-html {
    margin: 0px 0px 0px 0px;
    font-size: 20px;
}
.letra-rigoberto {
    margin: 0px 0px 5px 0px;
    font-size: 20px;
}
.hamburger-icon {
    font-size: 30px;
}
.post-image img {
    width: 600px;
}

.post-body {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.three-icons {
    display: flex;
    gap: 5px;
    font-size: 30px;
}
.body-bookmark {
    font-size: 30px;
}

.post-text p {
    font-size: 20px;
}
