body {
    align-items: center;
    
}

.parent-div {
    width: 600px;
    height: 800px;
    align-items: center;
}

.post-header {
    display:flex;
    border:5px solid green;
    justify-content: space-between;
    align-items: center;
}
.left-group {
    display: flex;
    align-items: center;

}
.left-up-loner {
    border:5px solid black;
}
.left-up-two {
    border: 5px solid grey;
    display: flex;
    flex-direction: column;
    margin: none;
}
.right-up {
    border: 5px solid pink;
}
.post-image {
    width:100%;
    height: 100%;
    display: block;
}

.post-image img {
    width:100%;
    height: 100%;
    display: block;
}

.post-body {
    
    border: 5px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.three-icons {
    display: flex;
    gap: 15px;
    border:5px solid blue;
}
.body-bookmark {
    border: 5px solid orange;
    
}
